<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monotype Corsiva">


  <title>Quote</title>
</head>
<body>
<div class="container">
<div class="notepaper">
  <figure class="quote" style="font-family: Monotype corsiva !important;">
    <blockquote id="qt" class="curly-quotes">
      {{title}}
    </blockquote>
    <figcaption id="auth" class="quote-by">{{author}}</figcaption>
  </figure>
</div>
<button onclick="location.reload()" type="button" class="btn btn-outline-secondary" style="text-align: center; margin: 0 0 0 45%;">Get another quote</button>
<br><br>
<button onclick="copyToClipboard('#qt')" type="button" class="btn btn-outline-secondary" style="text-align: center; margin: 0 0 10% 45%;">Copy this quote</button>
<script>
  function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</div>
<br>
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5efb93514411ab03"></script>

</body>
</html>

